<p id="notice"><%= notice %></p>

<span><h1>Лента</h1></span>

<% @posts.each do |post| %>

  <div class="card border-info mb-3">

    <div class="card-header">
      <span class="alert alert-success border rounded"><%= post.user.username %></span>
      <h2 class="text-center"><%= post.title %></h2>
    </div>

    <div class="card-body">
      <h5 class="card-subtitle mb-2 text-muted text-center"><%= post.desc %></h5>
      <h3 class="card-text text-center"><%= post.body %></h3>

      <div class="text-right">
        <p><%= link_to 'Читать далее', post, class: "btn btn-outline-primary" %></p>
      </div>
      
    </div>

    <div class="card-footer text-muted">
      <%= post.created_at.strftime('%F') %>
      <%= post.created_at.strftime('%H:%M') %>
    </div>

  </div>

  <br>
<% end %>