<p id="notice"><%= notice %></p>

<div class="card border-info mb-3">

	<div class="card-header">
	    <div class="row">
		    <h2 class="col-md-10 text-center"><%= @post.title %></h2>

			<div class="col-md-1">
				<button class="btn btn-outline-primary"><%= link_to 'изменить', edit_post_path(@post) %></button>
			</div>

			<div class="col-md-1">
				<button class="btn btn-danger"><%= link_to 'удалить', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %></button>
			</div>
		</div>
    </div>
    	
    <div class="card-body">
      <h5 class="card-subtitle mb-2 text-muted"><%= @post.desc %></h5>
      <h3 class="card-text"><%= @post.body %></h3>
      <button class="btn btn-outline-primary"><%= link_to 'К списку постов', posts_path %></button>
    </div>

    <div class="card-footer text-muted">
      <%= @post.created_at %>
    </div>
</div>

<hr>

<div>
	<h1>Комментарии</h1>
	<% @post.comments.each do |comment| %>
	  	<div class="alert alert-light row">
	  		<h5 class="col-md-10 text-left"><%= comment.body %></h5> 
	  		<p class="col-md-2"> <%= comment.created_at %> </p>
	  	</div>
	<% end %>		
</div>

<hr>

<div>
	<h3>Добавить комментарий</h3>

	<%= form_for([@post, @post.comments.build]) do |form| %>
	  <div class="form-group">
	    <label>Текст</label>
	    <div>
	      <%= form.text_area(:body, {:class => 'form-control'})%>
	    </div>

	    <br>

	    <div>
	      <%= form.submit("Добавить",{:class => 'btn btn-primary btn-lg'})%>
	    </div>
	  </div>
	<% end %>
</div>


