<!DOCTYPE html>
<html>
  <head>
    <title>TwitterProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background: #fff3e0">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-5 text-white border" style="background: #3F729B; box-shadow: 0 0 15px rgba(0, 0, 0, 0.5)">
      <h1 class="my-0 mr-md-auto font-weight-bold">Twitter</h1>
      <nav class="my-2 my-md-0 mr-md-3">
        <h4><%= link_to 'На главную',home_path, class: "p-2 text-white" %></h4>
      </nav>
      
      <% if user_signed_in? %>
        <h2><%= link_to current_user.username, home_path, class: "btn btn-outline-warning text-white" %></h2>
        <h2><%= link_to 'Новый пост', new_post_path, class: "btn btn-outline-primary text-white" %></h2>
        <h2><%= link_to 'Выйти', destroy_user_session_path, method: :delete, class: "btn btn-outline-primary text-white" %></h2>

      <% else %>
        <h2><%= link_to 'Зарегистрироваться', new_user_registration_path, class: "btn btn-outline-primary text-white" %></h2>
        <h2><%= link_to 'Войти', new_user_session_path, class: "btn btn-outline-primary text-white" %></h2>
      <% end %>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <% flash.each do |name, message| %>
            <div class="alert <% bootstrap_class_for(name)%>">
              <button class="close" data-dismiss="alert">&times;</button>
              <% message %>
            </div>
          <%end%>
        </div>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
